<div class="flex flex-col h-full">
  <div class="flex-1 flex flex-col">
    <div class="flex-1 grid grid-cols-12 gap-0 p-3">
      <div class="col-span-5 sm:col-span-4 md:col-span-3 xl:col-span-3">
        <div class="h-full relative">
          <img class="absolute h-full object-contain " src="./avif/pet/fox.avif"/>
        </div>
      </div>
      <div class="col-span-7 sm:col-span-8 md:col-span-9 xl:col-span-9">
        <div class="flex flex-col justify-center h-full gap-2 sm:gap-3 md:gap-5 ">
          <div class="flex justify-start">
            <img class="h-auto max-h-36" src="./avif/decoration/balloon_welcome.avif"/>
          </div>
          <div class="font-hammer text-[clamp(1rem,2vw,2rem)] px-3">
            ¡Hola, soy Dexi, tu compañero de aventuras en ComprendixPlay! Estoy listo para aprender y jugar contigo.
            ¿Qué actividad deseas realizar hoy?
          </div>
          <div class="flex flex-wrap justify-around items-center gap-3">
            <div class="flex-1 max-w-50" (click)="redirecttoMenuReadings()">
              <img class="w-full cursor-pointer" src="./avif/option/option_reader.avif"/>
            </div>
            <div class="flex-1 max-w-50" (click)="redirecttoMenuGames()">
              <img class="w-full cursor-pointer" src="./avif/option/option_grasp.avif"/>
            </div>
            <div class="flex-1 max-w-50" (click)="downloadPdf()">
              <img class="w-full cursor-pointer" src="./avif/option/option_pdf.avif"/>
            </div>
            <div class="flex-1 max-w-50" (click)="downloadPdf()">
              <img class="w-full cursor-pointer" src="./avif/option/option_video.avif"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full h-30 bg-repeat-x bg-[length:auto_100%] mt-[-5rem] -z-1" style="background-image:url('./avif/decoration/grass.avif');"></div>
  </div>
  <div class="flex flex-wrap justify-between items-center bg-[#f7b62c] gap-2 p-2 @container">
    <div class="flex justify-around order-2 @sm:order-1">
      <img src="./icons/ic_youtube.svg" class="h-8 w-8 mx-2 cursor-pointer" alt="youtube"/>
      <img src="./icons/ic_twitter.svg" class="h-8 w-8 mx-2 cursor-pointer" alt="twitter"/>
    </div>
    <div class="flex-1 min-w-full @sm:min-w-auto font-chau text-[clamp(1rem,2vw,1.8rem)] text-white text-center w-full order-1 @sm:order-2">
      {{'"Sin comprensión, la lectura no tiene dirección"'}}
    </div>
    <div class="flex justify-around order-3 @sm:order-3">
      <img src="./icons/ic_facebook.svg" class="h-8 w-8 mx-2 cursor-pointer" alt="facebook"/>
      <img src="./icons/ic_info.svg" class="h-8 w-8 mx-2 cursor-pointer" alt="info"/>
    </div>
  </div>
</div>
