
<!-- game-menu.component.html -->
<div class="grid grid-cols-12 h-full w-full bg-repeat-x bg-left-top [background-size:auto_100%]" style="background-image:url('./avif/game/back_game.avif');">
  <div class="col-span-12 lg:col-span-12 xl:col-span-2">
    <div class="hidden xl:block h-full">
      <app-actions-vertical
        class="h-full"
        [actionHandlers]="{
          home: goToHome,
        }">
      ></app-actions-vertical>
    </div>
    <div class="xl:hidden w-full">
      <app-actions-horizontal
        class="w-full"
        [actionHandlers]="{
          home: goToHome,
        }">
      ></app-actions-horizontal>
    </div>
  </div>
  <div class="col-span-12 lg:col-span-12 xl:col-span-7 grid grid-cols-1 sm:grid-cols-3 place-items-center place-content-end gap-6 xl:gap-12 pt-6">
    <div class="col-span-1 sm:col-span-3 text-6xl sm:text-7xl font-winky font-bold text-yellow-500 text-center text-out-color-yellow-900 text-out-w-4 m-3 p-3 sm:p-0">
      JUEGOS DE COMPRENSION
    </div>
    <div class="col-span-1">
      <img class="max-h-[25rem] cursor-pointer" src="./avif/game/tube_1.avif" alt="tube" (click)="goToPuzzle(0)"/>
    </div>
    <div class="col-span-1">
      <img class="max-h-[25rem] cursor-pointer" src="./avif/game/tube_2.avif" alt="tube" (click)="goToPuzzle(1)"/>
    </div>
    <div class="col-span-1">
      <img class="max-h-[25rem] cursor-pointer" src="./avif/game/tube_3.avif" alt="tube" (click)="goToPuzzle(2)"/>
    </div>
  </div>
  <div class="col-span-12 hidden xl:col-span-3 xl:flex items-center justify-center">
    <img class="max-h-[25rem]" src="./avif/pet/fox_play.avif" alt="fox"/>
  </div>
</div>
