<div class="flex flex-col h-screen">
  <div class="flex justify-between items-center w-full h-24 p-5" [ngStyle]="backgroundStyle">
    <div class="flex flex-col gap-0">
      <img class="h-24 object-contain cursor-pointer" src="./avif/logo/comprendix_play.avif" (click)="redirectToSplash()"/>
    </div>
    <div class="flex flex-col gap-0">
      <img class="h-24 object-contain cursor-pointer" src="./avif/logo/gamepad.avif" (click)="toogle()"/>
    </div>
  </div>
  <div class="flex-1">
    <router-outlet />
  </div>
</div>
<app-modal-phrase></app-modal-phrase>
<app-drawer></app-drawer>
