<canvas #canvas class="block fixed inset-0 w-full h-full" style="touch-action: none; z-index: -1">

</canvas>
<div class="flex flex-col justify-between items-center w-full min-h-screen">
  <div></div>
  <div class="flex flex-col gap-0">
    <img class="h-80 object-contain" src="./avif/comprendix_gamepad.avif"/>
    <img class="h-30 object-contain mt-[-3rem] cursor-pointer" src="./avif/play.avif" (click)="redirectToWelcome()"/>
  </div>
  <div class="flex flex-col items-center sm:flex-row sm:justify-between w-full mb-4 px-4 gap-3">
    <div class="flex font-chau text-3xl">{{"ComprendixPlay - 2025"}}</div>
    <div class="flex">
      <img src="./icons/ic_youtube.svg" class="h-10 w-10 mx-2 cursor-pointer" alt="youtube"/>
      <img src="./icons/ic_twitter.svg" class="h-10 w-10 mx-2 cursor-pointer" alt="twitter"/>
      <img src="./icons/ic_facebook.svg" class="h-10 w-10 mx-2 cursor-pointer" alt="facebook"/>
      <img src="./icons/ic_info.svg" class="h-10 w-10 mx-2 cursor-pointer" alt="info"/>
    </div>
  </div>
</div>
