<div class="relative h-full w-full">
  <div class="absolute inset-0 flex flex-col">
    <div class="w-full h-[50%] bg-[#b8f1f9]"></div>
    <div class="w-full h-[10%] bg-[#faf6be]"></div>
    <div class="w-full h-[25%] bg-[repeating-linear-gradient(90deg,_#ffb114_0_50px,_#ffce2a_50px_100px)]"></div>
    <div class="w-full h-[15%] bg-[#7c580c]"></div>
  </div>
  <div class="grid grid-cols-12 h-full w-full">
    <div class="col-span-12 lg:col-span-12 xl:col-span-2">
      <div class="hidden xl:block h-full">
        <app-actions-vertical
          class="h-full"
          [actionHandlers]="{
            home: goToHome,
            previous: goToPrevious,
            next: goToNext,
          }">
        ></app-actions-vertical>
      </div>
      <div class="xl:hidden w-full">
        <app-actions-horizontal
          class="w-full"
          [actionHandlers]="{
            home: goToHome,
            previous: goToPrevious,
            next: goToNext,
          }">
        ></app-actions-horizontal>
      </div>
    </div>
    <div class="col-span-12 lg:col-span-9 xl:col-span-7 flex items-center justify-center">
      <div class="relative pt-6 lg:pt-0">
        <div class="text-6xl sm:text-7xl font-winky font-bold text-blue-500 text-center text-out-color-blue-900 text-out-w-4 m-3 p-3 sm:p-0">
          DESCARGA LOS MATERIALES
        </div>
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-0 w-full lg:max-w-4xl p-12 lg:p-3">
          @for (reading of readings; track $index) {
            <div class="aspect-square w-full bg-contain" style="background-image:url('./avif/decoration/box_white.avif');" (click)="downloadPDF($index)">
              <div class="flex justify-center items-center h-full p-3 transition-transform duration-300 hover:scale-105">
                <div class="aspect-square relative">
                  <img class="w-full h-full object-contain cursor-pointer" [src]="reading.image_url_menu"/>
                  <div class="absolute bottom-0 right-0">
                    <img class="max-w-[3rem]" src="./avif/decoration/download.avif" alt="download"/>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="col-span-12 lg:col-span-3 xl:col-span-3 lg:min-h-auto">
        <div class="h-full relative">
          <img class="absolute right-0 top-0 h-3/12 object-contain" src="./avif/decoration/flags.avif"/>
          <img class="absolute right-0 bottom-3 h-9/12 object-contain" src="./avif/pet/fox_download.avif"/>
        </div>
    </div>
  </div>
</div>
