<div class="grid grid-cols-12 w-full h-full">
  <div class="col-span-12 lg:col-span-12 xl:col-span-2">
    <div class="hidden xl:block h-full">
      <app-actions-vertical
        class="h-full"
        [actionHandlers]="{
          home: goToHome,
          listening: speachText,
          next: goToNext,
          previous: goToPrevious,
        }">
      ></app-actions-vertical>
    </div>
    <div class="xl:hidden w-full">
      <app-actions-horizontal
        class="w-full"
        [actionHandlers]="{
          home: goToHome,
          listening: speachText,
          next: goToNext,
          previous: goToPrevious,
        }">
      ></app-actions-horizontal>
    </div>
  </div>
  <div class="col-span-12 lg:col-span-12 xl:col-span-8 grid grid-cols-12 xl:space-x-12">
    <div class="col-span-12 lg:col-span-4 xl:col-span-4 order-2 lg:order-1 p-6 xl:p-0">
      <div class="flex items-center justify-center relative lg:h-full">
        <img class="w-full aspect-auto" [src]="reading?.image_url_text" alt="Image">
      </div>
    </div>

    <div class="col-span-12 lg:col-span-8 xl:col-span-8 order-1 lg:order-2 flex flex-col justify-center items-center p-6 xl:p-0">
      <div class="font-passion text-center text-6xl mt-3 mb-6">{{reading?.title}}</div>
      <div class="font-open font-bold text-lg">{{reading?.text}}</div>
    </div>
  </div>
  <div class="col-span-12 xl:col-span-2">
    <div class="hidden xl:block h-full">
      <app-options-vertical
        class="h-full"
        [count]="items"
        [colorFunction]="getColorClasses"
        (select)="redirectToQuestion($event)"
      ></app-options-vertical>
    </div>

    <div class="xl:hidden w-full">
      <app-options-horizontal
        class="w-full"
        [count]="items"
        [colorFunction]="getColorClasses"
        (select)="redirectToQuestion($event)"
      ></app-options-horizontal>
    </div>
  </div>
</div>
