<div class="grid grid-cols-12 w-full h-full">
  <div class="col-span-12 lg:col-span-6 xl:col-span-3 order-2 lg:order-1 p-6">
    <div class="flex items-center justify-center relative lg:h-full">
      <div class="w-full aspect-square lg:aspect-auto lg:h-full lg:relative">
        <img class="w-full h-full absolute object-contain" src="https://i.pinimg.com/736x/0e/9b/85/0e9b85e55146d9d392fdcee403d66c41.jpg" alt="Paisaje solucionado">
        <img class="w-full h-full absolute" src="./avif/picture_frame.avif" alt="Marco solucionado">
      </div>
    </div>
  </div>
  <div class="col-span-12 lg:col-span-6 xl:col-span-7 order-1 lg:order-2 flex flex-col justify-center items-center p-6">
    <div class="font-passion text-6xl mt-3 mb-6">Las alas de Pipo</div>
    <div class="font-open font-bold text-2xl">Pipo era un pingüino curioso. Cada día miraba al cielo y suspiraba.<br>
      —“¿Por qué no puedo volar como los pájaros?”<br>
      —decía, moviendo sus alitas cortas.<br>
       Saltó desde rocas, se subió a montones de nieve… ¡Pero nunca despegaba!<br>
      —“Mis alas no sirven…”<br>
      —decía triste.<br>
      Un día, sin querer, resbaló y cayó al agua.<br>
       ¡SPLASH! Pipo empezó a mover sus alas…<br>
       ¡y nadó como un rayo! Giraba, saltaba, se hundía…<br>
      ¡Estaba volando bajo el agua! Desde entonces, ya no quiso volar por el cielo. Porque descubrió que sus alas sí servían… ¡y eran perfectas para nadar!<br>
    </div>
  </div>
  <div class="col-span-12 xl:col-span-2 order-3">
    <div class="hidden xl:flex flex-col w-full h-full gap-3 justify-center py-6">
      @for (idx of numbers; track $index) {
        <div class="flex-1 flex items-center justify-end group">
          <div
            [ngClass]="[
              'relative w-auto h-full max-h-25 aspect-square rounded-full transition-colors duration-200 transform translate-x-1/2',
              getColorClasses(idx).bg,
              getColorClasses(idx).hover
            ]"
          >
            <div class="absolute inset-1 bg-black/50 rounded-full flex items-center justify-center cursor-pointer">
              <span class="text-white font-bold text-4xl">{{ idx + 1 }}</span>
            </div>
          </div>
          <div
            [ngClass]="[
              'h-full max-h-25 w-[35%] min-w-25 transition-colors duration-200 cursor-help',
              getColorClasses(idx).bg,
              getColorClasses(idx).hover,
            ]"
          >
          </div>
        </div>
      }
    </div>
    <div class="xl:hidden flex flex-row w-full gap-3 justify-center px-6">
      @for (idx of numbers; track $index) {
        <div class="flex-1 flex flex-col items-center group">
          <div
            [ngClass]="[
              'relative h-auto w-full max-w-25 aspect-square rounded-full transition-colors duration-200 transform translate-y-1/2',
              getColorClasses(idx).bg,
              getColorClasses(idx).hover
            ]"
          >
            <div class="absolute inset-1 bg-black/50 rounded-full flex items-center justify-center cursor-pointer">
              <span class="text-white font-bold text-4xl">{{ idx + 1 }}</span>
            </div>
          </div>
          <div
            [ngClass]="[
              'w-full max-w-25 h-[35%] min-h-20 max-h-30 transition-colors duration-200 cursor-help',
              getColorClasses(idx).bg,
              getColorClasses(idx).hover,
            ]"
          >
          </div>
        </div>
      }
    </div>
  </div>
</div>
