<div class="relative flex items-center justify-end group h-full" [ngClass]="{'flex-row': direction === 'vertical', 'flex-col': direction === 'horizontal'}">
  <div
    class="relative aspect-square rounded-full transition-colors duration-200 z-10 cursor-pointer"
    [ngClass]="[
      colorClasses.bg,
      colorClasses.hover,
      direction === 'vertical' ? 'transform translate-x-1/2 h-full max-h-25 w-auto' : '',
      direction === 'horizontal' ? 'transform translate-y-1/2 w-full max-w-25 h-auto' : ''
    ]"
  >
    <div class="absolute inset-1 bg-black/50 rounded-full flex items-center justify-center">
      <span class="text-white font-bold text-4xl">{{ number }}</span>
    </div>
  </div>
  <div
    class="relative transition-colors duration-200 cursor-pointer"
    [ngClass]="[
      colorClasses.bg,
      colorClasses.hover,
      direction === 'vertical' ? 'h-full max-h-25 w-[35%] min-w-10 max-w-20' : '',
      direction === 'horizontal' ? 'w-full max-w-25 h-[35%] min-h-20 max-h-30' : ''
    ]"
  ></div>
</div>
